<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Injection Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1> SQL Injection Lab</h1>
        </div>
        <div class="right-panel">
            <div class="form-box">
                <h2>Вход в тренажёр</h2>
                <p class="subtitle">Уязвимая версия для демонстрации SQLi</p>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label>Имя пользователя</label>
                        <input type="text" name="username" class="form-control" 
                               placeholder="Логин">
                    </div>
                    
                    
                    <button type="submit" class="btn">Войти</button>
                </form>
                <div class="links">
                    <a href="/theory"> Теория</a>
                    <a href="/levels"> Уровни</a>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
